<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>502 Page</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="{{ STATIC_URL }}tmps/new/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="{{ STATIC_URL }}tmps/new/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="{{ STATIC_URL }}tmps/new/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link href="{{ STATIC_URL }}tmps/new/css/style.css" rel="stylesheet" />
   <link href="{{ STATIC_URL }}tmps/new/css/style-responsive.css" rel="stylesheet" />
   <link href="{{ STATIC_URL }}tmps/new/css/style-default.css" rel="stylesheet" id="style_color" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-500">
    <div class="error-wrap">
        <h1>Ouch!</h1>
        <h2>Our Servers Are Under Maintenance Run</h2>
        <div class="metro green">
           <span> 5 </span>
        </div>
        <div class="metro yellow">
            <span> 0 </span>
        </div>
        <div class="metro purple">
            <span> 2 </span>
        </div>
        <p>Very soon we will fix the issue.</a></p>
    </div>
</body>
<!-- END BODY -->
</html>
