{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
</br></br></br></br></br></br></br></br></br></br></br></br>
    <title>Authentication Error</title>
   <body>	
 
<nav class="menu">
<ul id="menu">
<div class="container">
<div class="wrapper">
<h1 class="color_yellow" align="center">You Could Not Be Authenticated Into Labyrinth Probably Due to</h1>
<div style="left:30px">
            <blockquote>
              <h4 class="pad7"><span class="color_white">1. You Revoked the Permission to Access Your Profile.</h4>
			  <h4 class="pad7"><span class="color_white">2. You Revoked Permission to Post on Your Wall.</h4>
			  <h4 class="pad7"><span class="color_white">3. If None of the Above apply to You, Please Drop a Mail to Our Facebook Page, Describing Your Issue.</h4>
			  <h4 class="pad7"><span class="color_white">4. Remember to Include Your Facebook ID in the Mail.</h4>
              </blockquote>
</div>     
</div>    
</div>  
</ul>                     
</nav>  
</body>
{% endblock %}
 


