{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
</br></br></br></br></br></br></br></br>
    <title>Forum</title>
   <body>
<nav class="menu">
<ul id="menu">
<li id="page_level">
      <div class="container" position="absolute" top="50%" margin-top="-9em" >
                <h1 class="color_yellow">Forum</h1>
 <h3>           <table width="100%" border="2" align="left" cellpadding="4" >
              {% for i in posts %}
            <!-- start here-->
               <tr class="color_white" align="justify" height="40" >
                   <td><b>#{{ i.id }}</b>:<b>{{ i.contestant.user.username }}</b> : {{ i.comment }}</td>
               </tr>
             {% endfor %}
               <tr class="color_white" align="justify" height="40" >
               <form method = post>
               {% csrf_token %}
                   <td><textarea rows=5 cols=200 name=comment></textarea></td>
                   <td><input type = submit value=Comment></td>
               </form>
               </tr>

          </table></h3>

     
  
  </ul>                     
 </nav>  
   </body>
{% endblock %}
