<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DYUTHI 13-ONLINE TREASURE HUNT</title>
	<meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png">
<!-- ========================  CSS Files  ========================== -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tmps/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tmps/css/slider.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tmps/css/responsive.css" />
<!-- ========================  JS Files  =========================== -->
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/supersubs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/quicksand.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/quicksand_config.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/ts-portfolio-slide.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/tinynav.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/scripts.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tmps/js/validatePassword.js"></script>
<!--[if lt IE]>
  	<div style=' clear: both; text-align:center; position: relative;'>
			<img src="../../storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. Please do Use Firefox or Chrome	." /></a>
		</div>
    <![endif]-->

    

</head>
<body>

<!-- LOADER -->
<div class="spinner"></div>
<!-- SLIDER -->
<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>image 05</span></li>
  <li><span>image 06</span></li>
  <li><span>image 07</span></li>
  <li><span>image 08</span></li>
</ul>
<!-- SLIDER END -->
      </ul>
<div class="sn1">
    <ul class="sn" >
      <li><a href="http://www.facebook.com/dyuthigec"  target="_blank" title="Facebook"><span class="icon-img" style="background:url({{ STATIC_URL }}tmps/images/social/facebook.png)"></span></a></li>
      <li><a href="http://www.twitter.com/dyuthigec"  target="_blank" title="Twitter"><span class="icon-img" style="background:url({{ STATIC_URL }}tmps/images/social/twitter.png)"></span></a></li>
      <li><a href="http://www.youtube.com/dyuthigec"  target="_blank" title="YouTube"><span class="icon-img" style="background:url({{ STATIC_URL }}tmps/images/social/ytube.png)"></span></a></li>
    </ul>
    </div>
<section id="content">
  <!-- HEADER -->

 <header>
  <!-- MENU -->
    <nav class="menu">
      <ul id="menu">
		
        <li class="lm"><a href="http://www.dyuthi.in/" target="_blank" ><img src="{{ STATIC_URL }}tmps/images/dyuthilogo.png"></a></li>
        <li><a href="#!/page_home">Home</a></li>
        <li><a href="#!/page_rules">Rules</a></li>
        <li><a href="#!/page_topper">Leader Board</a></li>
        <li><a href="#">Forum</a></li>   
        <li class="lm"><a href="#"><img src="{{ STATIC_URL }}tmps/images/social/login_1.png"></div></a></li>        
      <!--  <li class="no_bg"><a href="#!/page_contact">Contacts</a></li>-->
      </ul>
    </nav>    <!-- END MENU -->
<div class="logo"><a href="#!/page_home"><img src="{{ STATIC_URL }}tmps/images/logo.png" alt=""></a></div>
  </header>
  <!-- END HEADER -->
  
  <ul>
<li id="page_home">
<div class="container">
<img src="{{ STATIC_URL }}tmps/images/dyuthi.png" align=centre width="925" height="338"> 
</div>
</li>		

<!-- SERVICES -->


<li id="page_topper"> <a href="#!/page_home" class="close"></a>
      <div class="container">
        <div class="wrapper">
          <h1 align="center">Leader Board</h1>
          <div class="viewport viewport2">
            <div class="overview overview2">
            <div class="fullwidth"><h3>
            <table width="100%" border="2" align="left" cellpadding="4" >
            <tr align="justify"height="40"><th width="10%">RANK</th><th width="25%">NAME</th><th width="49%">COLLEGE</th><th width="16%">LEVEL</th></tr>
            <!-- start here-->
               <tr class="color_white" align="justify" height="40">
               <td>1</td>
                <td>xyz</td>
                <td>college</td>
                 <td>1</td>
                 </tr>
             
           <!-- end here-->
                
                 
          </table></h3>
     </div>
           
              <div class="divider"></div>
          </div>
          <div class="scrollbar scrollbar2">
            <div class="track">
              <div class="thumb thumb2"></div>
            </div>
          </div>
        </div>
      </div>
    </li>
     <!-- SERVICES END -->
    <!-- PORTFOLIO -->
   
    <!-- PORTFOLIO END -->
    
    <!-- LOGIN -->
    <!-- BLOG ENG -->
    <!-- CONTACT -->
    <!-- MORE -->
    <li id="page_rules"> <a href="#!/page_home" class="close"></a>
      <div class="container">
        <div class="wrapper">         
          <h1 align="center">RULES</h1>
          <div style="left:30px">
            <blockquote>
              <h4 class="color_white">1,</h4>
              <h4 class="pad7"><span class="color_white">2,</h4>
              <h4 class="pad7"><span class="color2">3,</h4>
              <h4 class="pad7">4,</h4>
              <h4 class="pad7">5,</h4>
              <h4 class="pad7">6,</h4>
            </blockquote>
          </div>
        </div>
      </div>
    </li>    <!-- MORE END -->
    <!-- PRICE -->
       <!-- PRICE END -->
</section>
<!-- END CONTENT -->

</body>

</html>
