{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}

 </br></br></br></br></br></br></br></br></br></br></br>  
 {% if l.new %}
 <script>
window.onload = function()
{
 FB.ui(
  {
   method: 'feed',
   name: 'I Have reached level {{ l.number}} of the Labyrinth!!',
   caption: 'A Happy Hunter',
   description: (
    'I have reached level {{ l.number }}!!'
   ),
   link: 'http://labyrinth.dyuthi.in',
  }
  
);
}
 </script>
 {% endif %}


    <title>{{ l.name }}</title>
<nav class="menu">
<ul id="menu">
<li id="page_level">
      <div class="container" position="absolute" top="50%" margin-top="-9em" >
                <h1 class="color_yellow">{{ l.dialogue }}</h1>
                  <div class="postimg"> <iframe width="870" height="653" src="//www.youtube.com/embed/h0PHeJIURPI" frameborder="0" allowfullscreen></iframe></div>
                  </div>
                  <ul><li><h4 class="color_white">Your answer here</h4></li>
                <form action='/level/complete/' method='post'>
		   {% csrf_token %}
                 <table width="100%" border="1" cellpadding="5" align="right"><tr><td><input name="ans" type="text" autocomplete="off" />
		<input type="submit"   value="Submit" /></td><td>&nbsp;</td></tr>
 		</table>

            	</form>
                   
 </ul>
</nav>     

{% endblock %}


      
