{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
</br></br></br></br></br></br></br></br></br></br></br>
    <title>Wait!!! for Next Level</title>
   <body>
<nav class="menu">
<ul id="menu">
<li id="page_level">
      <div class="container" position="absolute" top="50%" margin-top="-9em" >
                <h1 class="color_yellow">Wait for more!!</h1>

               <div class="postimg"> <img src='{{ STATIC_URL }}wait.png' class="pic" alt="" width="870px" align='centre' title=""/></div></div>
     
  
  </ul>                     
 </nav>  
   </body>
{% endblock %}
