{% extends "base.html" %}
{% block content %}
    {% include "nav.html" %}
</br></br></br></br></br></br></br></br></br></br>      
<title>Wrong Answer!!!</title>

<nav class="menu">
<ul id="menu">
<li id="page_level">
<div class="container" position="absolute" top="50%" margin-top="-9em" >
    <h1  class="color_yellow">{{ w.heading }}</h1>
<div class="postimg"><a href="http://dyuthi.in" target="_blank" title="Dyuthi Home" ><img src='/static/{{ w.image  }}' class="pic" alt="" width="870px" align='centre' title=""/></div></a>
                  </div>
                                 
   

<meta http-equiv="refresh" content="3; /home" />
 </ul>
</nav> 

{% endblock %}
